body{
    font-family: sans-serif;
}


html,body{
  overflow-x: hidden;
}
.item-1 {
  animation: drive 1s ease-in;
}

.item-2 {
  animation: move 1s ease-in ;
}
.butt{
  animation: elevation 1s ease-in;

}
.navbar{
    background: linear-gradient( 30deg,  rgb(190, 184, 184),white 65% );
        z-index: 2345667;
    
}
.nav-item a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 20px;

}

.nav::after{
 
    content: " ";
    width: 100%;
    height: 3px;
    background-color: rgb(43, 43, 3);
     opacity: 0;
    transition: 1s all ease-in-out;


}

.nav:hover::after{
    opacity: 1;

}

.btn1 {
  cursor: pointer;
     width: 9rem;
    border: 2px solid black;
    border-radius: 50px;
    border: none;
}
.btn1 a{
  color: white;
}
.btn1:hover a{
  color: black;
  font-weight: 700;
}
.btn1:hover{
  background-color: white;
  border: 2px solid black;

}
.btn2{
  border: none;
}
.btn2 a{
  color: white;
}
.btn2:hover a{
  color: black;
  font-weight: 700;
}
.btn2:hover{
  background-color: white;
  border: 2px solid black;

}
.btn3{
  border: 2px solid black;
  background-color: rgb(190, 184, 184);
}

.btn3 a{
  color: rgb(10,38,64);

}
.btn3:hover a{
  color: white;
  font-weight: 700;
}
.btn3:hover{
  background-color: rgb(10,38,64);
  border: none;

}

.sml-txt{
   font-size: 25px;
   margin-top: 20px;
}

.grad{
    background: linear-gradient( 30deg,  rgb(190, 184, 184),white 65% );

}

.header-txt{
  
}






   .wrapper{
  background: linear-gradient( 30deg, white 65%, rgb(190, 184, 184) );
          
   }
 .navbar{
  box-shadow: 0px 8px rgba(87, 84, 84, 0.2);

 }
 .colour{
      background-color: rgb(10,38,64);
 }
 .imge-1:hover{
  box-shadow: 8px 8px 8px 8px rgba(87, 84, 84, 0.2);
  
 }
 .card:hover{
  box-shadow: 8px 8px 8px 8px rgba(87, 84, 84, 0.2);

 }
 .btn4{
  border: none;
  background-color: rgb(25,134,83);
 }
 .btn4:hover{
  background-color: white;
 }
 .list-1{
  width: 50%;
  
 }
 
 .list-2{
  width: 50%;
  
 }
 .listing1{
  width: 40%;
  
 }
 
 .listing2{
  width:20%;
  margin-left: 20%;
 }
 
 .listing3{
  width: 20%;
  
 }
 
 .listing4{
  
  width: 20%;
  margin-left: 20%;

 }
 .sub{
  position: relative;
 }
 .listing3 ul li:nth-child(3)::after{
     content: " Hiring!";
     position: absolute;
     margin-left: 10px;
     font-size: 17px;
     top: 32%;
   
     width: 75%;
     text-align: center;
     border-radius: 50px;
     background-color: rgb(25,134,83);
 }
 
 @media(max-width: 768px){

  .listing3 ul li:nth-child(3)::after{
    content: " Hiring!";
    position: absolute;
    margin-left: 10px;
    

    width: 50%;
    text-align: center;
    border-radius: 50px;
    background-color: rgb(25,134,83);
}
  .list-1{
    width: 100%;
    
   }
   
 .list-2{
  width: 100%;
  margin-top: 10px;
  
 }
 
 .listing3{
  width: 40%;
  
 }



 }
 @media(min-width: 992px){
 .container-fluid{
  padding-left: 100px;
  padding-right: 100px;
 }
 .exp{
  width: 40%;

}
.sml-txt{
  font-size: 17px;
}
.contact-h{
  width: 50%;
  margin-left: 10px;
}

.contact-h1{
  width: 80%;
}
}

@media(max-width: 992px){
  
@keyframes drive{
  0%{transform: translateX(400px);}
  100%{transform: translateX(0);}

  
}
 
@keyframes move{
  0%{transform: translateX(-400px);}
  100%{transform: translateX(0);}

  
}

 
@keyframes elevation{
  0%{transform: translateY(-700px);}
  100%{transform: translateY(0);}

  
}
  
 .exp{
   width: 70%;
 }
 .navbar-nav{
  margin-top: 30px;
  height: 100vh;
 }
 .nav-item{
  padding-top: 15px;
  padding-bottom: 20px;
}
.butt{
  padding-top: 30px;
}

.nav-item a{
  
  font-size: 25px;

}

}
.cad{
  width: 30%;
}
@media(max-width: 992px){
 .cad{
         width: 100%;
  }
}

@media(min-width: 992px){
    .nav-item{
       padding-right: 20px;
       
    }
   
   }
   
@media(max-width: 992px){
   
   
   }
   @media (max-width: 567px){
    .sml-txt{
      font-size: 10px;
    }
        
  .header-txt{
    width: 100%;
    font-size: 20px;
  }
   }
   @media(min-width: 992px){
    
.header-txt{
  width: 70%;
  font-size: 18px;
}
   }
@media (min-width: 567px) and (max-width: 992px){
    
  .header-1{
    
    font-size: 25px;
  }
     
.header-txt{
  width: 80%;
  font-size: 15px;
}
  


   }
   @media(min-width: 567px) and (max-width: 768px){
    
    .header-1{
      
      font-size: 20px;
    }
       
  .header-txt{
    width: 80%;
    font-size: 10px;
  }
    
  
  
     }